.lead {
  max-width: 1280px;
  margin: auto;
  padding: 120px 55px 0px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.lead::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.4);
}