.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1280px;
  padding: 20px 50px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 32px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
