.footer {
  background: #2D2D2D;
}

.footer__text  {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.footer__container  {
  width: 1160px;
  margin: auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}